h2{
    font-size: 2.5rem;
}
.openacc-btn{
    border: 2px solid #663399;
    font-size: 1rem;
}
.boost-sect{
    background-image: url(/assets/images/sol_wave_bg.svg);
    background-repeat: no-repeat;
}