<section>
    <div class="row boost-sect mt-5 pt-5">
        <div class="col-md-7">
           <app-cards></app-cards>
        </div>
        <div class="col-md-5">
            <h2 class="mt-5 pt-5">Boost your business <br/> with Open</h2>
            <div class="border mb-5"></div>
            <p>
                Get your hands on a term loan that’s crafted for your business
            </p>
            <button class="openacc-btn px-4">
                Get an Open Account
            </button>
        </div>
    </div>
   </section>
