<ul class="flex-container column">
    <li class="flex-item">
        <mat-card>
            <img src="assets/icons/Instantly.png" alt="Instantly"/>
            <h3 class="m-0">Quick cash disbursement</h3>
            <p>Get terms loans that your business needs within 72 hrs</p>
        </mat-card>
    </li>
    <li class="flex-item">
        <mat-card>
            <img src="assets/icons/lowinterestrate.png" alt="lowinterestrate"/>
            <h3 class="m-0">Low-interest rate</h3>
            <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
        </mat-card>
    </li>
    <li class="flex-item">
        <mat-card>
            <img src="assets/icons/SecurePayments.png" alt="SecurePayments"/>
            <h3 class="m-0">Zero Paperwork</h3>
            <p>Get started instantly by submitting only your basic details & bank statements</p>
        </mat-card>
    </li>
</ul>

<ul class="flex-container column list-unstyled mx-2">
    <li class="flex-item">
        <mat-card>
            <img src="assets/icons/freelancer.png" alt="freelancer"/>
            <h3 class="m-0">Ace your business finances</h3>
            <p>Manage banking, accounting & everything in between, on one platform</p>
        </mat-card>
    </li>
    <li class="flex-item">
        <mat-card>
            <img src="assets/icons/covid.png" alt="covid"/>
            <h3 class="m-0">Loans to fight COVID-19</h3>
            <p>
                Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
            </p>
        </mat-card>  
    </li>
</ul>  