mat-card {
    box-sizing: border-box;
    height: 12rem;
    border-radius: .7rem;
    h3{
        font-size: 1rem;
        font-weight: 500;
    }
    p{
        color: #999999;
    }
    img{
        height: 5rem;
        width: 5rem;
    }
    &:hover{
        background: transparent;
        background-image: url(/assets/images/rectangle-2.png);
        background-repeat:  repeat;
        background-size: cover; 
        cursor: pointer;
        h3,p{
            color: #fff;
        }
       
    }
}

.flex-container{
    display: flex; 
    justify-content: space-evenly; 
}
.column{
    flex-direction: column;
    float: left;
    list-style: none;
    height: 100%;
    width: 40%;
    &:first-child{
        margin-right: 6%;
    }
}
.flex-item{
    width: 100%;
    margin-bottom: 1rem; 
}
