<section class="top-sect">
    <div class="row menu" [ngClass]="status ? 'fixed' : 'simple'">
        <div class="col-md-3 text-center">
            <img id="logo" src="assets/icons/logo.png" alt="open financial"/>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <ul class="mt-3">
                <li class="mx-4">
                   <a href="" class="text-decoration-none">Products</a> 
                </li>
                <li class="mx-4">
                   <a href="" class="text-decoration-none">Solutions</a>  
                </li>
                <li class="mx-4">
                   <a href="" class="text-decoration-none">Pricing</a> 
                </li>
            </ul>
            <button class="mx-2 login">
                Login
            </button>
            <button class="px-3 getstart">
                Get Started
            </button>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6">
            <div class="concept">
                <h1 class="text-left concept__title mb-2">We make it Super <br/>Simple </h1>
                <div class="border mb-5"></div>
                <img class="concept__logo" src="assets\images\collect_img-video.png" alt="we make it simple"/>
                <div class="concept__dots">
                    <img src="assets/icons/accounting_dots.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-widget></app-widget>
        </div>
    </div>
</section>


