.top-sect{
    background-image: url(/assets/images/blob-small.svg), url(/assets/images/circle@2x.png);
    background-size: 30%, 60%;
    background-position: -10% 30% , 120% -90px;
    background-repeat: no-repeat, no-repeat;;
}


.menu{
    transition:all 0.4s;
    #logo{
        width: 5rem;
    }
    
    ul{
        list-style-type: none;
    }
    li{
        float: left;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            color:#222222;
            &:hover{
                color: #663399;
            }
        }
    }
    .login{
        width: 118px;
    }
    .getstart{
        width: 166px;
    }
    button{
        border: 2px solid #663399;    
        box-shadow: 0px 0px 20px #70707033;
       
    }
}

// when fixed header
.fixed{
    transition:all 0.5s;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    #logo{
        transition:all 0.5s;
        width: 4rem !important;
    }
}

.concept{
    width: 75%;
    margin: auto;
    position: relative;
   
    &__title{
        font-size: 2.5rem;
    }
    &__logo{
        width: 85%;
        z-index: 3;
    }
    &__dots{
        position: absolute;
        bottom: -27px;
        left: 50%;
        height: 3rem;
        z-index: 0;
        img{
            width: 100%;
        }
    }
}